.container{
  width: 100%;
  position: absolute;
  text-align: center;
}

.container h1{
  font-size: 580px;
  margin: 0;
  font-weight: 900;
  letter-spacing: 20px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
